
body {
  background: linear-gradient(to right, #0000ff, #00bfff); /* Degrade de azul */
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .form-input {
    width: 300px; /* Torna os campos de entrada mais largos */
    max-width: 1000px; /* Define um limite máximo para a largura */
  }


  .form-container {
    padding: 100px;
    background-color: #f8f9fa; /* Cor de fundo da div */
    border-radius: 8px; /* Borda arredondada */
    box-shadow: 1 4px 8px rgba(255, 255, 255, 1); /* Sombra para dar um efeito de elevação */
  }
  
  .form-title{
    margin-bottom: 20px;
  }

  .form-button{
    background-color: black;
  }