.card-style{
    background: linear-gradient(to right, #077ad1, #00bfff); /* Degrade de azul */
    box-shadow: 5px 5px 5px 0px rgba(219, 217, 217, 0.75);
    border-radius: 5px;
    border: 0px;
}


@keyframes color-change {
    0% { color: rgb(255, 255, 255); }
    50% { color: rgb(211, 211, 211); }
    100% { color: rgb(255, 255, 255); }
}

.card-body{
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
}
.card-title{
    animation: color-change 3s infinite;
}

.card-button{
    background-color: black;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.147);
    transition: transform 0.3s ease;
}


.card-button:hover {
    transform: scale(1.1);
    background-color: white;
    color: #077ad1;
}

.card-category {
    color: white;
    margin-top: 2px;
    background-color: rgba(255, 255, 255, 0.11);
    width: 53%;
    text-align: center;
    border-radius: 5px;
}
