
body {
  background: linear-gradient(to right, #0000ff, #00bfff); /* Degrade de azul */
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .form-input {
    width: 300px; 
    max-width: 1000px; 
  }


  .form-container {
    padding: 100px;
    background-color: #f8f9fa; 
    border-radius: 8px; 
    box-shadow: 1 4px 8px rgba(255, 255, 255, 1); 
  }
  
  .form-title{
    margin-bottom: 20px;
  }

  .form-button{
    background-color: black;
  }